[submodule "src/dataModel"]
	path = libs/pruefungsplaner-datamodel
	url = https://github.com/Zebreus/pruefungsplaner-datamodel.git
[submodule "libs/security-provider"]
	path = libs/security-provider
	url = https://github.com/Zebreus/securityProvider.git
